*{
	margin: 0;
	padding: 0;
}
body{
	width: 80%;
	margin: 0 auto;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 150px;
	position: relative;
	border: 1px solid blue;
}
.content h1{
	position: absolute;
	top: 50px;
	left: 20px;
}
.main{
	height: 500px;
	border: 1px solid blue;
}
.nav{
	position: absolute;
	right: 0;
	bottom: 0;
}
.nav ul li{
	width: 100px;
	height: 20px;
	background: black;
	text-align: center;
	float: left;
	margin: 0 10px;
}
.nav ul li a{
	color: white;
}
.search{
	float: right;
	margin: 30px;
}
.search .search-tex{
	text-indent: 5px;
	width: 130px;
	height: 20px;
}
.search .search-bot{
	font-size: 18px;
	cursor: pointer;
}
.login{
	clear: right;
	float: left;
	margin: 20px 30px 30px;
	font-size: 20px;
}
.login-tex{
	width: 300px;
	height: 20px;
	margin-left: 60px;
	margin-top: 15px;
	text-indent: 5px;
}
.login-pa{
	width: 300px;
	height: 20px;
	margin-left: 80px;
	margin-top: 15px;
	text-indent: 5px;
}
.login-su{
	width: 60px;
	height: 40px;
	margin-left: 300px;
	margin-top: 20px;
	cursor: pointer;
}
.sidebar{
	float: right;
	margin-top: 50px;
	margin-right:180px; 
}
.sidebar ul li{
	margin-top:15px;
	font-size: 20px; 
}
.footer{
	clear: both;
	height: 80px;
	border: 1px solid blue;
}
.footer p{
	width: 120px;
	height: 20px;
	margin: 0 auto;
	padding-top: 15px;
}